---
import Layout from "../../layouts/Layout.astro";
---

<style>
  .postContainer {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>

<Layout>
  <h1>music i've enjoyed</h1>
  <div class="postContainer"></div>
</Layout>
