---
import Kirby from "../components/Kirby.astro";
import Layout from "../layouts/Layout.astro";
---

<style>
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>

<Layout>
  <ul>
    <li><a href="/baking">sweets i've baked</a></li>
    <li><a href="/music">music i've enjoyed</a></li>
    <li><a href="/projects">projects i've worked on</a></li>
  </ul>
  <Kirby />
</Layout>
