---
import Layout from "../../layouts/Layout.astro";

interface Project {
  id: string;
  title: string;
  description: string;
  date: Date;
  url: string;
}

const projects: Project[] = [
  {
    id: "sequencer",
    title: "sequencer",
    description:
      "basic sequencer. complete enough, could do lots more but i didn't want to to work on it anymore :)",
    date: new Date(2026, 2),
    url: "/projects/sequencer/index.html",
  },
];
---

<style>
  .postContainer {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  time {
    color: rgba(255, 255, 255, 0.8);
  }
</style>

<Layout>
  <h1>stuff i've made</h1>
  <div class="postContainer">
    {
      projects
        .sort((a, b) => b.date.getTime() - a.date.getTime())
        .map((post) => (
          <div>
            <a href={post.url}>{post.title}</a>
            <p>
              <time datetime={`${post.date}`}>
                {post.date.toLocaleDateString(navigator.languages, {
                  year: "numeric",
                  month: "long",
                })}
              </time>
            </p>
            <p>{post.description}</p>
          </div>
        ))
    }
  </div>
</Layout>
