---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("baking");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const { title, subtitle, date } = post.data;
---

<style>
  :global(img) {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  article {
    max-width: 80ch;
  }

  @media (min-width: 768px) {
    article {
      margin: 0 auto;
    }
  }
</style>
<Layout>
  <article style="border: 1px solid black">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
    <time>{date}</time>
    <Content />
  </article>
</Layout>
