---
import Layout from "../../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";

const allBlogPosts = await getCollection("baking");
---

<style>
  .postContainer {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>

<Layout>
  <h1>stuff i've baked</h1>
  <div class="postContainer">
    {
      allBlogPosts
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((post) => (
          <div>
            <a href={`/baking/${post.id}`}>{post.data.title}</a>
            <p>
              <time datetime={`${post.data.date}`}>
                {post.data.date.toLocaleDateString(navigator.languages, {
                  dateStyle: "long",
                })}
              </time>
            </p>
            <p>tags: {post.data.tags.join(", ")}</p>
          </div>
        ))
    }
  </div>
</Layout>
